<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="J:\快盘\Project\SpiderService\SpiderService\bin\Debug\log.txt"/>
    <add key="LogLevel" value="255"/>
    <add key="MaxRequest" value="10"/>
    <add key="HostName" value="http://*:8006/"/>
    <add key="ExetPath" value="C:\Users\brian\Desktop\develop\phantomjs-1.9.0-windows\phantomjs-1.9.0-windows\phantomjs.exe"/>
    <add key="JsPath" value="J:\快盘\Project\SpiderService\phantomjs\"/>
    <add key="InputPath" value="J:\快盘\Project\SpiderService\input"/>
    <add key="OutputPath" value="J:\快盘\Project\SpiderService\output"/>
    <add key="TimeOut" value="90000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
